@model IEnumerable<ResultDoctorDto>

<section id="doctors" class="doctors section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Doktorlar</h2>
        <p>Uzman ekibimizi aşağıda görüntüleyebilirsiniz.</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            @{
                var i = 0; // AOS delay'i arttırmak için
            }
            @foreach (var d in Model)
            {
                var delay = 100 + (i * 100);
                i++;
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="@delay">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic">
                            <img src=@d.ImageUrl class="img-fluid" alt="@(d.NameSurname ?? "Doctor")" />
                        </div>
                        <div class="member-info">
                            <h4>@(d.NameSurname ?? "Doctor")</h4>
                            <span>@(d.Description ?? "Uzman Hekim")</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
