@model CreateGalleryDto
@{
    ViewData["Title"] = "CreateGallery";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Yeni Görsel Ekle</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <form class="form form-vertical" method="post" enctype="multipart/form-data">
                <div class="form-body">
                    <div class="form-group">
                        <label>Görsel</label>
                        <input type="file" name="file" class="form-control" accept=".jpg,.jpeg,.png" />
                        <div class="form-text">Maksimum 5 MB • .jpg, .jpeg, .png</div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Ekle</button>
                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Sıfırla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

