@model IEnumerable<ResultGalleryDto>

<section id="gallery" class="gallery section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Galeri</h2>
        <p>Hizmetlerimizden kareler ve merkezimizden anlar.</p>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        @if (Model != null && Model.Any())
        {
            <div class="row g-0">
                @foreach (var g in Model)
                {
                    var img = Url.Content(g?.GalleryImageUrl ?? "~/MediLab-1.0.0/assets/img/gallery/placeholder.jpg");

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="@img" class="glightbox" data-gallery="images-gallery">
                                <img src="@img" alt="" class="img-fluid" loading="lazy" />
                            </a>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="text-center text-muted py-5">
                Şu anda galeri görseli bulunmuyor.
            </div>
        }
    </div>
</section>
