<section id="stats" class="stats section light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="fa-solid fa-user-doctor"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.DoctorCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Doktorlar</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="fa-regular fa-hospital"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.DepartmentCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Departmanlar</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="fas fa-flask"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.AppointmentCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Randevular</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="fas fa-award"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.MessageCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Gelen Mesajlar</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->
