@using MediLabDapper.Dtos.AboutItemDtos
@model GetAboutItemByIdDto
@{
    ViewData["Title"] = "UpdateAboutItem";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="card">
    <div class="card-header">
        <h4 class="card-title">Madde Güncelle</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <form class="form form-vertical" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="AboutItemId" />
                <div class="form-body">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" asp-for="Title" id="first-name-vertical" class="form-control" placeholder="Başlık Giriniz">
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Açıklama Giriniz">
                    </div>
                    <div class="form-group">
                        <label>İkon</label>
                        <input type="text" class="form-control" asp-for="Icon" placeholder="fa-solid fa-vial-circle-check vb.">
                    </div>
                    <input type="hidden" asp-for="AboutId" />
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Güncelle</button>
                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Sıfırla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



