<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Default - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/mazer-1.0.0/dist/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="~/mazer-1.0.0/dist/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">İşlemler</li>

                        <li class="sidebar-item">
                            <a href="/About/Index" class="sidebar-link">
                                <i class="bi bi-info-circle"></i>
                                <span>Hakkımızda</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Contact/Index" class="sidebar-link">
                                <i class="bi bi-envelope"></i>
                                <span>İletişim</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Appointment/Index" class="sidebar-link">
                                <i class="bi bi-calendar2-check"></i>
                                <span>Randevu</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Department/Index" class="sidebar-link">
                                <i class="bi bi-diagram-3"></i>
                                <span>Departmanlar</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Doctor/Index" class="sidebar-link">
                                <i class="bi bi-person-badge"></i>
                                <span>Doktorlar</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Feature/Index" class="sidebar-link">
                                <i class="bi-sliders"></i>
                                <span>Özellikler</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Message/Index" class="sidebar-link">
                                <i class="bi bi-chat-dots"></i>
                                <span>Gelen Mesajlar</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Service/Index" class="sidebar-link">
                                <i class="bi bi-briefcase"></i>
                                <span>Hizmetler</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Testimonial/Index" class="sidebar-link">
                                <i class="bi-chat-quote"></i>
                                <span>Referanslar</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/Gallery/Index" class="sidebar-link">
                                <i class="bi bi-images"></i>
                                <span>Görseller</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <section class="section">
                @RenderBody()
            </section>
        </div>
    </div>
    <script src="~/mazer-1.0.0/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/mazer-1.0.0/dist/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/mazer-1.0.0/dist/assets/js/main.js"></script>
</body>

</html>