@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Özellik Ekle</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <form class="form form-vertical" method="post">
                <div class="form-body">
                    <div class="form-group">
                        <label>Özellik Adı</label>
                        <input type="text" asp-for="Title" class="form-control" placeholder="Başlık">
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Açıklama">
                    </div>
                    <div class="form-group">
                        <label>İkon</label>
                        <input type="text" class="form-control" asp-for="Icon" placeholder="bi bi-clipboard vb.">
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Ekle</button>
                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Sıfırla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

